<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recomendation_page_for_cactus</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../config.js"></script>
    <script src="../js/page_cactus.js"></script>
</head>
<body>
    <div class="container">

        <div class="crad-content" style="display: none;">
            
            <div class="card">
                <div class="card-image"><img src="" alt="" id="image1"></div>
                <p id="credit_img1"></p>
                <div class="card-info">
                    <h3 id="name1">ชื่อ</h3>
                    <p id="another_name1"></p>
                    <p id="sci_name1">ชื่อวิทยาศาสตร์</p>
                    <p id="family1">ชื่อวงศ์</p>
                    <p id="size1">ขนาด</p>
                    <p id="height1">ความสูง</p>

                    <p id="nature1">ข้อมูลทั่วไป</p>
                    <p id="flower1">ข้อมูลดอก</p>
                    <p id="leaf1">ข้อมูลใบ</p>
                    <p id="note1"></p>

                    <p id="soil1">ดิน</p>
                    <p id="breed1">การขยายพันธุ์</p>

                    <p id="addition_care1"></p>

                    <div class="feature-card" id="fea1">
                        <p id="feature1"></p>
                        <p id="aus1"></p>
                    </div>
                </div>
                <div class="purify-card" id="puri1"></div>
                <div class="price">
                    <p id="min1">ตัวอย่างเรทราคา</p>
                    <a href=" " id="link_min1">เยี่ยมชมร้านค้า</a>
                </div>
                <hr class="new5">
                <div class="container-table">
                    <h2>ตารางการดูแลแคคตัส</h2>
                    <ul class="responsive-table">
                      <li class="table-header">
                        <div class="col col-1">สภาพแวดล้อม</div>
                        <div class="col col-2">ความถี่การรดน้ำ</div>
                        <div class="col col-3">สภาพแวดล้อม</div>
                        <div class="col col-4">ความถี่การรดน้ำ</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">ถ้าดินโปร่ง</div>
                        <div class="col col-2" data-label="Customer Name">ให้น้ำ 2 -  3 วัน/ครั้ง</div>
                        <div class="col col-3" data-label="Amount">ดินแน่น</div>
                  <div class="col col-4" data-label="Payment Status">ให้น้ำ 5 - 7 วัน/ครั้ง</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">ถ้าแสงแดดมาก</div>
                        <div class="col col-2" data-label="Customer Name">ให้น้ำ 2 -  3 วัน/ครั้ง</div>
                        <div class="col col-3" data-label="Amount">แสงแดดน้อย</div>
                        <div class="col col-4" data-label="Payment Status">ให้น้ำ 5 - 7 วัน/ครั้ง</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1">ถ้าลมแรง</div>
                        <div class="col col-2">ให้น้ำ 2 -  3 วัน/ครั้ง</div>
                        <div class="col col-3">ถ้าไม่มีลม</div>
                        <div class="col col-4">ให้น้ำ 5 - 7 วัน/ครั้ง</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1">ใช้กระถางดินเผา</div>
                        <div class="col col-2">ให้น้ำ 2 -  3 วัน/ครั้ง</div>
                        <div class="col col-3">ใช้กระถางพลาสติก</div>
                        <div class="col col-4">ให้น้ำ 5 - 7 วัน/ครั้ง</div>
                      </li>
                    </ul>
                  </div>
            </div>
        </div>

            
        <div class="crad-content" style="display: none;">
            <div class="card">
                <div class="card-image"><img src="" alt="" id="image2"></div>
                <p id="credit_img2">แหล่งที่มา</p>
                <div class="card-info">
                    <h3 id="name2">ชื่อ</h3>
                    <p id="another_name2"></p>
                    <p id="sci_name2">ชื่อวิทยาศาสตร์</p>
                    <p id="family2">ชื่อวงศ์</p>
                    <p id="size2">ขนาด</p>
                    <p id="height2">ความสูง</p>

                    <p id="nature2">ข้อมูลทั่วไป</p>
                    <p id="flower2">ข้อมูลดอก</p>
                    <p id="leaf2">ข้อมูลใบ</p>
                    <p id="note2"></p>

                    <p id="soil2">ดิน</p>
                    <p id="breed2">การขยายพันธุ์</p>

                    <p id="addition_care2"></p>

                    <div class="feature-card" id="fea2">
                        <p id="feature2"></p>
                        <p id="aus2"></p>
                    </div>
                </div>
                <div class="purify-card" id="puri2"></div>
                <div class="price">
                    <p id="min2">ตัวอย่างเรทราคา</p>
                    <a href=" " id="link_min2">เยี่ยมชมร้านค้า</a>
                </div>
                <hr class="new5">
                <div class="container-table">
                    <h2>ตารางการดูแลแคคตัส</h2>
                    <ul class="responsive-table">
                      <li class="table-header">
                        <div class="col col-1">สภาพแวดล้อม</div>
                        <div class="col col-2">ความถี่การรดน้ำ</div>
                        <div class="col col-3">สภาพแวดล้อม</div>
                        <div class="col col-4">ความถี่การรดน้ำ</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">ถ้าดินโปร่ง</div>
                        <div class="col col-2" data-label="Customer Name">ให้น้ำ 2 -  3 วัน/ครั้ง</div>
                        <div class="col col-3" data-label="Amount">ดินแน่น</div>
                  <div class="col col-4" data-label="Payment Status">ให้น้ำ 5 - 7 วัน/ครั้ง</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">ถ้าแสงแดดมาก</div>
                        <div class="col col-2" data-label="Customer Name">ให้น้ำ 2 -  3 วัน/ครั้ง</div>
                        <div class="col col-3" data-label="Amount">แสงแดดน้อย</div>
                        <div class="col col-4" data-label="Payment Status">ให้น้ำ 5 - 7 วัน/ครั้ง</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1">ถ้าลมแรง</div>
                        <div class="col col-2">ให้น้ำ 2 -  3 วัน/ครั้ง</div>
                        <div class="col col-3">ถ้าไม่มีลม</div>
                        <div class="col col-4">ให้น้ำ 5 - 7 วัน/ครั้ง</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1">ใช้กระถางดินเผา</div>
                        <div class="col col-2">ให้น้ำ 2 -  3 วัน/ครั้ง</div>
                        <div class="col col-3">ใช้กระถางพลาสติก</div>
                        <div class="col col-4">ให้น้ำ 5 - 7 วัน/ครั้ง</div>
                      </li>
                    </ul>
                  </div>
            </div>
        </div> 
           
        <div class="crad-content" style="display: none;">
            <div class="card">
                <div class="card-image"><img src="" alt="" id="image3"></div>
                <p id="credit_img3">แหล่งที่มา</p>
                <div class="card-info">
                    <h3 id="name3">ชื่อ</h3>
                    <p id="another_name3"></p>
                    <p id="sci_name3">ชื่อวิทยาศาสตร์</p>
                    <p id="family3">ชื่อวงศ์</p>
                    <p id="size3">ขนาด</p>
                    <p id="height3">ความสูง</p>

                    <p id="nature3">ข้อมูลทั่วไป</p>
                    <p id="flower3">ข้อมูลดอก</p>
                    <p id="leaf3">ข้อมูลใบ</p>
                    <p id="note3"></p>

                    <p id="soil3">ดิน</p>
                    <p id="breed3">การขยายพันธุ์</p>

                    <p id="addition_care3"></p>

                    <div class="feature-card" id="fea3">
                        <p id="feature3"></p>
                        <p id="aus3"></p>
                    </div>
                </div>
                <div class="purify-card" id="puri3"></div>
                <div class="price">
                    <p id="min3">ตัวอย่างเรทราคา</p>
                    <a href=" " id="link_min3">เยี่ยมชมร้านค้า</a>
                </div>
                <hr class="new5">
                <div class="container-table">
                    <h2>ตารางการดูแลแคคตัส</h2>
                    <ul class="responsive-table">
                      <li class="table-header">
                        <div class="col col-1">สภาพแวดล้อม</div>
                        <div class="col col-2">ความถี่การรดน้ำ</div>
                        <div class="col col-3">สภาพแวดล้อม</div>
                        <div class="col col-4">ความถี่การรดน้ำ</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">ถ้าดินโปร่ง</div>
                        <div class="col col-2" data-label="Customer Name">ให้น้ำ 2 -  3 วัน/ครั้ง</div>
                        <div class="col col-3" data-label="Amount">ดินแน่น</div>
                  <div class="col col-4" data-label="Payment Status">ให้น้ำ 5 - 7 วัน/ครั้ง</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">ถ้าแสงแดดมาก</div>
                        <div class="col col-2" data-label="Customer Name">ให้น้ำ 2 -  3 วัน/ครั้ง</div>
                        <div class="col col-3" data-label="Amount">แสงแดดน้อย</div>
                        <div class="col col-4" data-label="Payment Status">ให้น้ำ 5 - 7 วัน/ครั้ง</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1">ถ้าลมแรง</div>
                        <div class="col col-2">ให้น้ำ 2 -  3 วัน/ครั้ง</div>
                        <div class="col col-3">ถ้าไม่มีลม</div>
                        <div class="col col-4">ให้น้ำ 5 - 7 วัน/ครั้ง</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1">ใช้กระถางดินเผา</div>
                        <div class="col col-2">ให้น้ำ 2 -  3 วัน/ครั้ง</div>
                        <div class="col col-3">ใช้กระถางพลาสติก</div>
                        <div class="col col-4">ให้น้ำ 5 - 7 วัน/ครั้ง</div>
                      </li>
                    </ul>
                  </div>
            </div>
        </div>
    
    
    <div class="pagination">
       
    </div>


    </div>
</body>
    
</html>