<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search tree by name</title>
    <script type="text/javascript" src="../config.js"></script>
    <script src="../js/search.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/purify_page_p.css">
</head>
<body>
    <div class="container" id="main">

        <div class="card-content">
            
            <div class="card">
                <div class="card-image"><img src="" alt="" id="image1"></div>
                <p id="credit_img1">แหล่งที่มา</p>
                <div class="card-info">
                    <h3 id="name1">ชื่อ</h3>
                    <p id="another_name1"></p>
                    <p id="sci_name1">ชื่อวิทยาศาสตร์</p>
                    <p id="family1">ชื่อวงศ์</p>
                    <p id="size1">ขนาด</p>
                    <p id="height1">ความสูง</p>

                    <p id="nature1">ข้อมูลทั่วไป</p>
                    <p id="flower1">ข้อมูลดอก</p>
                    <p id="leaf1">ข้อมูลใบ</p>
                    <p id="note1"></p>

                    <p id="water1">การรดน้ำ</p>
                    <p id="sun1">แสง</p>
                    <p id="grow_rate1"></p>
                    <p id="soil1">ดิน</p>
                    <p id="breed1">การขยายพันธุ์</p>

                    <p id="addition_care1"></p>

                    <div class="feature-card" id="fea1">
                        <p id="feature1"></p>
                        <p id="aus1"></p>
                    </div>
                </div>
                <div class="purify-card" id="puri1"></div>
                <div class="price">
                    <p id="min1">ราคาต่ำ(ถ้ามี)</p>
                    <a href=" " id="link_min1">เยี่ยมชมร้านค้า</a>

                    <p id="mid1">ราคากลาง(ถ้ามี)</p>
                    <a href=" " id="link_mid1">เยี่ยมชมร้านค้า</a>

                    <p id="high1">ราคาสูง(ถ้ามี)</p>
                    <a href=" " id="link_high1">เยี่ยมชมร้านค้า</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>